.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
}

.info-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;
}

.info-container h1 {
  /* font-size: 30px; */
  font-size: clamp(30px, 5vh, 5vh);
  color: red;
}
.info-container h2 {
  font-size: clamp(30px, 3vh, 3vh);
  color: white;
}

@media (max-width: 500px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
  height: 30vh;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vw;
  min-width: 150px;
}

.github-icon {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.github-icon:hover {
  color: red;
}

.linkedin-icon {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.linkedin-icon:hover {
  color: red;
}

.transcript-icon {
  display: flex;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.transcript-icon:hover {
  color: red;
}

.icon-container h1 {
  font-size: 20px;
}
