.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 355px);
  grid-template-rows: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  justify-items: center;
  transition: 0.5s ease;
}

.projects-content h1 {
  display: flex;
  justify-content: center;
  color: red;
}

.heading {
  font-size: clamp(30px, 5vh, 5vh);
  margin-top: 10px;
}
